* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  color: #283842;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

ol {
  margin: 0;
  padding: 0 0 0 20px;
}

li {
  margin-bottom: 10px;
  line-height: 1.5;
}

button:focus {
  outline: 0;
}

/**********************************************************
  Header/Nav
***********************************************************/

header {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  /* margin: 0 auto; */
  width: 220px;
  max-width: 90%;
}

.logo-w-tag {
  display: none;
  width: 280px;
}

.title {
  width: 440px;
}

@media (max-width: 860px) {
  .logo,
  .title {
    display: none;
  }
  h1 {
    display: none;
  }
  .logo-w-tag {
    display: block;
  }
}

@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .logo-w-tag {
    width: 230px;
  }
}

.top-apply-button {
  background-color: #ff831d;
  border: none;
  margin: 10px auto;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 28px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms;
}

.apply-button:hover {
  background-color: #e97a20;
}

.grad-background {
  background-image: linear-gradient(-135deg, #17c6ca 0%, #148bb4 100%);
  color: white;
}

.hero-callout-wrapper {
  position: relative;
}

section.hero {
  width: 100%;
  margin: 0;
  max-width: 100%;
}

section.hero div.hero-image {
  display: flex;
  align-items: center;
  background-image: url('/img/young-life-college-hero.jpg');
  background-position: center center;
  background-size: cover;
  padding: 50px;
  height: 640px;
  clip-path: polygon(100% 100%, 0 84%, 0 0, 100% 0);
}

@media (max-width: 600px) {
  section.hero div.hero-image {
    clip-path: none;
    height: 204px;
  }
}

.hero-dark-callout {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 270px);
  padding: 60px 30px 30px;
  width: 540px;
  max-width: 90%;
  margin: 0 auto;
  color: white;
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
  background: rgba(0, 29, 30, 0.9);
  box-shadow: 0 2px 19px 10px rgba(0, 0, 0, 0.13);
  border-radius: 6px;
}

@media (max-width: 600px) {
  .hero-dark-callout {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    border-radius: 0;
    font-size: 18px;
  }
}

.circle-icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #17c6ca;
}

.hero-dark-callout .circle-icon {
  margin-top: -110px;
  margin-bottom: 16px;
}

.intro-text {
  width: 540px;
  max-width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .intro-text {
    padding: 20px 0;
  }
}

.intro-text p {
  margin: 20px auto;
}

section {
  margin: 50px auto;
  max-width: 90%;
}

@media (max-width: 600px) {
  section {
    margin: 30px auto;
  }
}

section.columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 1200px;
  max-width: 100%;
}

.column {
  width: 40%;
}

/**********************************************************
    Sites
***********************************************************/

.sites {
  width: 600px;
  height: 460px;
  max-width: 100%;
  background-image: linear-gradient(
      rgba(54, 69, 70, 0.6),
      rgba(35, 191, 205, 0.6)
    ),
    url('/img/young-life-college-movein.jpg');
  background-size: cover;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px #3939398f;
  border-radius: 22px;
  padding: 10px;
}

.sites-title {
  text-align: center;
  padding: 40px 0 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

.sites-lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sites-lists ul {
  margin: 0;
  padding: 0;
}

.sites-lists ul li {
  list-style-type: none;
  font-size: 16px;
}

@media (max-width: 800px) {
  section.columns {
    flex-direction: column;
  }

  .column {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 620px) {
  .sites {
    width: 100%;
    border-radius: 0;
  }

  .sites-lists ul li {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .sites {
    background-image: linear-gradient(-135deg, #17c6ca 0%, #148bb4 100%);
    height: auto;
  }

  .sites-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
}

/**********************************************************
    Apply Now
***********************************************************/

.apply-button {
  background-color: #ff831d;
  display: inline-block;
  border: none;
  margin: 30px auto;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 30px 80px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 250ms;
}

.apply-button:hover {
  background-color: #e97a20;
}

.apply-button-wrapper {
  display: flex;
  justify-content: center;
}

/**********************************************************
    Footer
***********************************************************/

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: underline;
}
